.header {
  background-color: #282c34;
  color: white;
  padding: 2rem;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header p {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-links li {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #61dafb;
}
